# =========================================================
# Python
# =========================================================
__pycache__/
*.py[cod]
*$py.class

# Compiled extensions
*.so

# =========================================================
# Virtual Environments
# =========================================================
venv/
env/
ENV/
.venv/

# =========================================================
# Jupyter Notebook
# =========================================================
.ipynb_checkpoints/

# =========================================================
# VS Code
# =========================================================
.vscode/

# =========================================================
# Mac / Linux / Windows System Files
# =========================================================
.DS_Store
Thumbs.db

# =========================================================
# PyTorch / TensorFlow Checkpoints
# =========================================================
*.pt
*.pth
*.ckpt
*.h5
*.keras
*.onnx

# =========================================================
# Experiment Tracking / Outputs
# =========================================================
history/
checkpoints/
logs/
outputs/


# =========================================================
# Data Files
# =========================================================
# Ignore everything inside the data directory
data/*

# Keep .gitkeep tracked so empty folder structure stays in git
!data/**/.gitkeep

# =========================================================
# External Repositories
# =========================================================
external/
external/*
external/PEER_Benchmark

# =========================================================
# Figures
# =========================================================
eda/figures/
eda/figures/*
figures/
figures/*

# =========================================================
# Results
# =========================================================
Code/results/*
!Code/results/.gitkeep
!Code/results/README.md
!Code/results/autoencoder
!Code/results/classifier
!Code/results/figures
!Code/results/tables

# =========================================================
# Models
# =========================================================
Code/src/models/*
!Code/src/models/.gitkeep
!Code/src/models/README.md
!Code/src/models/*.py

# =========================================================
# Pytest
# =========================================================
.pytest_cache/
.pychache/

# =========================================================
# Other
# =========================================================
.matplotlib_cache/
